<h1>
    Admin Console
</h1>

<!-- Buttons -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12" type="button" >
            <a href = "#/createandmanageapplications" class="btn btn-primary btn-lg btn-block">
                Create and manage applications
            </a>
        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-6 col-xs-12 col-md-6" type="button" >
            <a href="#/addcoursesandsemesters" class="btn btn-primary btn-lg btn-block">
                Add courses/Semesters
            </a>
        </div>
        <div class="col-sm-6 col-xs-12 col-md-6" type="button" >
            <a class="btn btn-primary btn-lg btn-block">
                Select Applications
            </a>
        </div>

    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-6 col-xs-12 col-md-6" type="button"  >
            <a href="#/manageusers" class="btn btn-primary btn-lg btn-block">
                Manage Users
            </a>
        </div>
        <div class="col-sm-6 col-xs-12 col-md-6" type="button" >
            <a class="btn btn-primary btn-lg btn-block">
                Submit Application on behalf of Students
            </a>
        </div>
    </div>



</div>



<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/aprofile">
                <span>Profile</span>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a ng-click = "model.logout()">Logout</a>
            </a>
        </p>

    </div>
</nav>