<h1>
    Create and Manage Positions
</h1>


<div class="container">
    <h4 ><b>Manage TA Positions</b></h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>

                <th>Course</th>
                <th>Semester</th>
                <th># Positions</th>
                <th>Lecturer</th>
                <th>Deadline</th>
                <th>Create</th>
            </tr>
            </thead>

            <!-- Table Body-->
            <tbody>

            <tr>
                <!--Course Name-->
                <td>
                    <select type="string"
                            class="form-control"
                            placeholder="Course Name"
                            ng-model="model.coursename">

                        <option value="admin">Admin</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                </td>

                <!--Semester Name-->
                <td>
                    <select type="string"
                            class="form-control"
                            placeholder="Semester Name"
                            ng-model="model.semestername">

                        <option value="admin">Admin</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                </td>

                <!-- # of Positions -->
                <td>
                    <input type="number"
                           ng-model="model.number"
                           placeholder="Number of Positions"/>
                </td>

                <!-- Professor Name -->
                <td>
                    <input type="text"
                           ng-model="model.professor"
                           placeholder="Professor name"/>
                </td>

                <!-- Deadline for this position-->
                <td><input type="date"
                           ng-model="model.deadline"
                           placeholder="Deadline Date"/></td>


                <td>
                    <a ng-click="model.createPosition(model.coursename, model.semestername,model.number, model.professor, model.deadline )"
                       class="btn btn-block btn-primary">
                        Create
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<!------------------------------------------------->
<!--            Positions Manager                -->
<!------------------------------------------------->
<div class="container ">
    <h4 ><b>Positions Manager</b></h4>

    <!-- Update Message -->
    <div ng-if="model.updatedmessage" class="alert alert-success">
        {{model.updatedmessage}}
    </div>

    <!-- Heading -->
    <div class="table-responsive">
        <table class="table table-hover">

            <!-- Header for Position-->

            <th>Course</th>
            <th>Semester</th>
            <th># Positions</th>
            <th>Lecturer</th>
            <th>Deadline</th>

            <th>Update Position</th>
            <th>Delete Position</th>


            <tr ng-repeat="position in model.positions">


                <!--Course-->

                <td>
                    <select type="string"
                            class="form-control"
                            placeholder="coursename"
                            ng-model="position.course">

                        <option value="admin">Admin</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                </td>

                <!--Semester-->
                <td>
                    <select type="string"
                            class="form-control"
                            placeholder="semestername"
                            ng-model="position.semester">

                        <option value="admin">Admin</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                </td>


                <!--# Positions-->
                <td><input type="number"
                           ng-model="position.number"
                           placeholder="Number of positions"/></td>

                <!--Lecturer-->
                <td><input type="text"
                           ng-model="position.professor"
                           placeholder="professor Name"/></td>

                <!--Deadline-->
                <td><input type="date"
                           ng-model="position.deadline"
                           placeholder="deadline for the position"/></td>


                <!-- Update Position Button-->
                <td>
                    <a class="glyphicon glyphicon-ok makeblack"
                       ng-click="model.updatePosition(position._id, position)"></a>
                </td>

                <!--Delete Position Button-->
                <td>
                    <a class="glyphicon glyphicon-remove makeblack"
                       ng-click="model.deletePosition(position._id)"></a>
                </td>

            </tr>
        </table>
    </div>

</div>




<!------------------------------------------------->
<!--                 Footer                      -->
<!------------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a  ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </p>
        <p class="navbar-text pull-left">

            <a  href="#/aconsole">
                <span>Back to AdminConsole</span>
            </a>
        </p>

    </div>
</nav>
