<h1>
    Create and Manage Applications
</h1>

<div class="row container">
    <!--Create Application-->
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div ng-if="model.createsuccess" class="alert alert-success">
            {{model.createsuccess}}
        </div>

        <h2> Create Application</h2>
        <hr>

        <div class="col-md-8  col-sm-12 col-xs-12">
            <input type="text"
                   class="form-control"
                   placeholder="Course Name (Eg: (CS 5010) PDP) "
                   ng-model="model.coursename"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a ng-click="model.createCourse(model.coursename)"
               class="btn btn-block btn-primary">
                Create
            </a>
        </div>

    </div>

    <!--Create Semester-->
    <div class="col-sm-6 col-md-6">
        <div ng-if="model.screatesuccess" class="alert alert-success">
            {{model.screatesuccess}}
        </div>
        <h2> Create Semesters</h2>
        <hr>
        <div class="col-md-8  col-sm-12 col-xs-12">
            <input type="text"
                   class="form-control"
                   placeholder="Semester Name (Eg: Spring 2017) "
                   ng-model="model.semestername"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a ng-click="model.createSemester(model.semestername)"
               class="btn btn-block btn-primary">
                Create
            </a>
        </div>
    </div>


</div>