
    <div class="container-fluid">
    <h1>Applications for {{model.Position.course}}</h1>

    <p></p>
    <div class="table-responsive">
        <table class="table table-hover">
            <!-- Table header--------->
            <!-- Header for Position-->
            <!------------------------->
            <th><a ng-click="model.orderByField='priority';
                             model.reverseSort = !model.reverseSort">
                Priority
            </a>
            </th>

            <th><a ng-click="model.orderByField='previouslyTaken';
                             model.reverseSort = !model.reverseSort">
                Previously Taken
            </a>
            </th>

            <th><a ng-click="model.orderByField='gradeObtained';
                             model.reverseSort = !model.reverseSort">
                Grade Obtained
            </a>
            </th>

            <th><a ng-click="model.orderByField='beenTASemester';
                             model.reverseSort = !model.reverseSort">
                Been TA semester
            </a>
            </th>
            <th><a ng-click="model.orderByField='availability';
                             model.reverseSort = !model.reverseSort">
                Availability
            </a>
            </th>
            <th>User</th>


            <th><a ng-click="model.orderByField='ratingvalue';
                             model.reverseSort = !model.reverseSort">
                Current Rating
            </a>
            </th>
            <th>Rate a Student</th>



<tr ng-repeat="application in apps | orderBy:model.orderByField : model.reverseSort">
    <td>{{ application.priority }}</td>

    <td>{{ application.previouslyTaken }}</td>
    <td>{{ application.gradeObtained }}</td>
    <td>{{ application.beenTASemester }}</td>
    <td>{{ application.availability }}</td>
    <td><a href="#/UserInfo/{{application._user}}">{{ application.username }}</a></td>

    <td> {{application.ratingvalue}} </td>
    <td>
        <button ng-if="1 > application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 1)"  class="glyphicon glyphicon-star-empty"></button>
          <button ng-if="1 <= application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 1)" class="glyphicon glyphicon-star"></button>

        <button ng-if="2 > application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 2)" class="glyphicon glyphicon-star-empty"></button>
        <button ng-if="2 <= application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 2)" class="glyphicon glyphicon-star"></button>

        <button ng-if="3 > application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 3)" class="glyphicon glyphicon-star-empty"></button>
        <button ng-if="3 <= application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 3)" class="glyphicon glyphicon-star"></button>

        <button ng-if="4 > application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 4)" class="glyphicon glyphicon-star-empty"></button>
        <button ng-if="4 <= application.ratingvalue" ng-href="#" ng-click="model.rateStudent(application._user, 4)" class="glyphicon glyphicon-star"></button>


    </td>
</tr>


        </table>






    </div>


</div>
</div>


<!-------------------------------------------------->
<!----------------- Footer ------------------------->
<!--------------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click = "model.logout()">Logout</a>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a href="#/fprofile">
                <span>Back to Profile</span>
            </a>
        </p>

    </div>
</nav>
