<div class="container">

    <div ng-if="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <h1 align="center">
        TA Portal
    </h1>


    <br>
    <form novalidate name="model.myform">
        <input ng-model="username"
               placeholder="username"
               name="username"
               type="text"
               class="form-control"
               required/>
        <p></p>
        <span class="alert-class"
              ng-show="model.myform.username.$invalid">
            {{model.alert}}
        </span>

        <input ng-model="password"
               placeholder="password"
               name="password"
               type="password"
               class="form-control"
               required/>

        <span class="alert-class"
              ng-show="model.myform.password.$invalid">
            {{model.alert}}
        </span>
        <p></p>
        <button ng-click="model.login(username,password)"
                class="btn btn-primary btn-block" type="submit">Login
        </button>
    </form>


    <p></p>
    <a class="btn btn-success btn-block"
       href="#/sregister">Student Register</a>
    <a class="btn btn-success btn-block"
       href="#/fregister">Faculty Register</a>
    <h1 style="color: white">` </h1>

    <p style="font-size: large">If you are here to test the site's functionality, use the below credentials</p>

    <table>
        <tr>
            <th>User Type</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        <tr>
            <td>Student</td>
            <td>student</td>
            <td>student</td>
        </tr>
        <tr>
            <td>Faculty</td>
            <td>faculty</td>
            <td>faculty</td>
        </tr>
        <tr>
            <td>Admin</td>
            <td>Contact seshasaisrivatsav@gmail.com</td>
            <td></td>
        </tr>
    </table>

    <br>
    <p style="font-size: large; text-align: justify">TA (Teaching Assistants) Portal is desiged for Computer Science
        Department students, faculty and administration to streamline
        and make the hiring process easy. Students can login and submit applications to the Teaching Assistant positions
        for a subject, under a
        faculty for a semester. Students MUST indicate whether they've taken this course before, whether they've been TA
        before and upload a latest copy of resume for positions.
        At this moment, we are allowing only three TA applications for a student per semester.
    </p>
    <br>
    <p style="font-size: large; text-align: justify">
        Faculty may login and review the applications for their subjects. They can review and rate applications and
        recommend students. Faculty may also
        submit applications on behalf of potential students. </p>
    <br>
    <p style="font-size: large; text-align: justify">
        Admins from CCIS (College of Computer Science) may select the applications. Admins can easily create TA
        positions, update Faculty information, courses and semesters easily with a click of a button.
        They can also manage users, monitor site activity, block rogue users etc.</p>

    <br>


</div>
