
<!------------------------------------------------------------------------>
<!--                     Create TA Application                            -->
<!------------------------------------------------------------------------>
<div class="container">
    <h3 ><b>Apply for TA Position</b></h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Priority</th>
                <th>TA Role</th>
                <th># positions</th>
                <th>Semester</th>
                <th>Semester where you have previously taken the course</th>
                <th>Grade Obtained in this course</th>
                <th>Assistantship (enter your most recent semester for which you've been TA for this subject. Leave Blank otherwise</th>
                <th>Availabilty</th>
                <th>Remarks</th>
            </tr>
            </thead>

            <!-- Table Body-->
            <tbody>

            <tr>

                <!---- Priority ---->
                <td>
                    <select
                            type="number"
                            class="form-control resizedTextbox"
                            placeholder="priority"
                            ng-model="model.application.priority">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>


                <!----- TA Role ------>
                <td>
                    <select
                            type="string"
                            class="form-control resizedTextboxLongest"
                            placeholder="TA Role"
                            ng-model="model.application._position">

                        <!-- Drop down values -->
                        <option ng-repeat="position in model.positions">{{position.course}}</option>

                    </select>
                </td>

                <!-- TODO -->
                <!-- Number of positions available-->
                <td>
                    {{model.position.number}}
                </td>


                <!-- TODO -->
                <!-- TA position is for given semester-->
                <td>
                    {{position.semester}}
                </td>

                <!--Previously taken this semester-->
                <td>
                    <select
                            type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="Previous Semester where you took the course"
                            ng-model="model.application.previouslyTaken">

                        <option ng-repeat="semester in model.semesters">{{semester.semestername}}</option>

                    </select>
                </td>


                <!--Grade Obtained-->
                <td>
                    <select type="string"
                            class="form-control "
                            placeholder="Grade Obtained"
                            ng-model="model.application.gradeObtained">

                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="lower">lower</option>
                    </select>
                </td>

                <!--Semester-->
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="semestername"
                            ng-model="model.application.beenTASemester">

                        <option ng-repeat="semester in model.semesters">{{semester.semestername}}</option>
                    </select>
                </td>


                <!--Availability-->
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="Student availability"
                            ng-model="model.application.availability">

                        <option value="Fully Available">Fully Available</option>
                        <option value="Looking for Co-ops">Looking for Co-ops</option>

                    </select>
                </td>


                <!--Remarks-->
                <td><input type="text"
                           class="form-control resizedTextboxLonger"
                           ng-model="model.application.remarks"
                           placeholder="Enter your remarks"/>
                </td>

            </tr>
            </tbody>

        </table>
        <a ng-click="model.createApplications(model.application )"
           class="btn btn-block btn-primary">
            Create
        </a>
    </div>
</div>

<!----------------------------------------------------------------------------------------->
<!--                     (DATA)             My  Applications                             -->
<!----------------------------------------------------------------------------------------->
<div class="container ">
    <h4 ><b>My Applications </b></h4>

    <!-- Update Message -->
    <div ng-if="model.updatedmessage" class="alert alert-success">
        {{model.updatedmessage}}
    </div>

    <!-- Heading -->
    <div class="table-responsive">
        <table class="table table-hover">

            <!-- Header for Position-->

            <th>Priority</th>
            <th>TA Role</th>
            <th># positions</th>
            <th>Semester</th>
            <th>Previously took this course</th>
            <th>Grade in this course</th>
            <th>Assistantship</th>
            <th>Availabilty</th>
            <th>Remarks</th>

            <th>Update Position</th>
            <th>Delete Position</th>


            <tr ng-repeat="app in model.applications">


                <!---- Priority ---->
                <td>
                    <select type="number"
                            class="form-control resizedTextbox"
                            placeholder="priority"
                            ng-model="app.priority">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>

                <!----- TA Role ------>
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="TA Role"
                            ng-model="application3._position">
                        <option ng-repeat="position in model.positions">{{position.course}}</option>

                    </select>
                </td>


                <!-- TODO -->
                <!-- Number of positions available-->
                <td>
                    {{position.number}}
                </td>


                <!-- TODO -->
                <!-- TA position is for given semester-->
                <td>
                    {{position.semester}}
                </td>

                <!--Previously taken this semester-->
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="Previous Semester where you took the course"
                            ng-model="app.previouslyTaken">

                        <option ng-repeat="semester in model.semesters">{{semester.semestername}}</option>

                    </select>
                </td>

                <!--Grade Obtained-->
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="Grade Obtained"
                            ng-model="app.gradeObtained">

                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="lower">lower</option>
                    </select>
                </td>

                <!--Semester-->
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="semestername"
                            ng-model="app.beenTASemester">

                        <option ng-repeat="semester in model.semesters">{{semester.semestername}}</option>
                    </select>
                </td>


                <!--Availability-->
                <td>
                    <select type="string"
                            class="form-control resizedTextboxLonger"
                            placeholder="Student availability"
                            ng-model="app.availability">

                        <option value="Fully Available">Fully Available</option>
                        <option value="Looking for Co-ops">Looking for Co-ops</option>

                    </select>
                </td>

                <!--Remarks-->
                <td><input class="form-control resizedTextboxLonger"
                           type="text"
                           ng-model="app.remarks"
                           placeholder="Enter your remarks"/></td>


                <!-- Update Position Button-->
                <td>
                    <a class="glyphicon glyphicon-ok makeblack"
                       ng-click="model.updatePosition(position._id, position)"></a>
                </td>

                <!--Delete Position Button-->
                <td>
                    <a class="glyphicon glyphicon-remove makeblack"
                       ng-click="model.deletePosition(position._id)"></a>
                </td>

            </tr>
        </table>
    </div>

    <p></p>
    <a  class="btn btn-block btn-primary"
        href="#/myjobsdashboard">Go to my Jobs Dashboard</a>

</div>




<!------------------------------------------------->
<!--                 Footer                      -->
<!------------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a  ng-click="model.logout()">
                <span>Logout</span>
            </a>

        </p>
        <p class="navbar-text pull-left">

            <a  href="#/sprofile">
                <span>Back to Profile</span>
            </a>
        </p>

    </div>
</nav>
