<h1>
    My Jobs Dashboard
</h1>

<div class="container">

    <!-- Deleted Message -->
    <div ng-if="model.updatedmessage" class="alert alert-success">
        {{model.deletemsg}}
    </div>

    <div class="table-responsive">
        <table class="table table-hover">

            <!-- Table header--------->
            <th>Position</th>
            <th>Status</th>
            <th>Actions</th>

            <!------------------------>
            <!-- Table Data--------->
            <tr ng-repeat="appname in model.applicationnames">
                <td> {{appname.name}} </td>
                <td>{{appname.status}}</td>
                <td><button ng-click="model.deleteapplication(appname.name)" class="btn btn-block btn-danger">
                    Withdraw</button></td>
            </tr>
            <!------------------------>

        </table>

    </div>
    <p></p>
    <p></p><p></p>


    <a  class="btn btn-block btn-primary"
        href="#/studentjobapplication">Apply for more TA Positions</a>


</div>


<!-------------------------------------------------->
<!----------------- Footer ------------------------->
<!--------------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click = "model.logout()">Logout</a>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a href="#/sprofile">
                <span>Back to Profile</span>
            </a>
        </p>

    </div>
</nav>
