<h1>
    My Jobs Dashboard
</h1>

<div class="container">


    <div class="table-responsive">
        <table class="table table-hover">
            <!-- Table header--------->
            <!-- Header for Position-->
            <!------------------------>
            <th>Position</th>
            <th>Status</th>
            <th>Actions</th>

            <tr>
                <td>MSD Spring 2017 TA</td>
                <td>Under Review</td>
                <td><a class="btn btn-block btn-danger">Withdraw</a></td>
            </tr>

            <tr>
                <td>Algorithms Summer 1 2017 TA</td>
                <td>Accepted</td>
                <td><a class="btn btn-block btn-danger">Withdraw</a></td>
            </tr>

            <tr>
                <td>Web Development Fall 2017 TA</td>
                <td>Rejected</td>
                <td><a class="btn btn-block btn-danger">Withdraw</a></td>
            </tr>

        </table>

    </div>
    <p></p>
    <p></p><p></p>


    <a  class="btn btn-block btn-primary"
        href="#/studentjobapplication">Apply for more TA Positions</a>


</div>


<!-------------------------------------------------->
<!----------------- Footer ------------------------->
<!--------------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click = "model.logout()">Logout</a>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a href="#/sprofile">
                <span>Back to Profile</span>
            </a>
        </p>

    </div>
</nav>
