<div class="container-fluid">
    <h1>Student Profile</h1>



    <a class="btn btn-primary btn-block"
       href="#/studentjobapplication">Apply For TA Positions</a>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/seditprofile">
                <span>Edit Profile</span>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a ng-click = "model.logout()">Logout</a>
            </a>
        </p>

    </div>
</nav>

