<div class="container">
    <h2>
        Welcome Student, {{model.user.firstName}} {{model.user.lastName}}
    </h2>


</div>



<div class="container">

    <hr>


    <div class="col-sm-4 col-md-4">
        <a class="btn btn-primary btn-block"
           href="#/studentjobapplication">Apply For TA Positions</a>
    </div>
    <div class="col-sm-4 col-md-4">
        <a class="btn btn-primary btn-block"
           href="#/uploadResume">Update Resume</a>
    </div>

    <div class="col-sm-4 col-md-4">
        <a class="btn btn-primary btn-block"
           href="#/myjobsdashboard">My Jobs Dashboard</a>
    </div>

    <h1 style="color:white">`</h1>


    <div class="col-sm-4 col-md-4">

        <img src="../../images/profile.jpeg" style="width:60%;">
        <br>
        <p><b>First Name</b>: {{model.user.firstName}}</p>
        <p><b>Last Name</b>: {{model.user.lastName}}</p>
        <p><b>Email Address</b>: {{model.user.email}}</p>
        <p><b>Phone:</b>{{model.user.phone}}</p>
        <p><b>Current Courses:</b><p ng-repeat="currentcourse in model.user.currentCourses">{{currentcourse}}</p></p>
        <p><b>My Previous Courses:</b><p ng-repeat="course in model.user.coursesTaken">{{course}}</p></p>
        <p><b>About Myself:</b>{{model.user.aboutMyself}}</p>
    </div>


    <div class="col-sm-8 col-md-8">



        <!-- Display resume -->

        <iframe  ng-src="{{model.user.resumeURL}}" width='700' height='900'></iframe>
        <br>
        <a ng-href="{{model.user.resumeURL}}">View Full Resume: {{model.user.resumeName}}</a>
        <br>

        <br>
        <!-------------------->

    </div>
</div>


<!------------------------------------------->
<!--------------- Footer ------------------>
<!------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click = "model.logout()">Logout</a>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a href="#/seditprofile">
                <span>Edit Profile</span>
            </a>
        </p>

    </div>
</nav>

