

<!--Body-->
<div class="container-fluid">


        <p></p>

        <h1>Register Page for TA Portal</h1>


        <div ng-if="model.error"
             class="alert alert-danger">
            {{model.error.data}}
            {{model.pwmatch}}
        </div>

    <form novalidate name="model.myform">
            <input ng-model="username"
                   name="username"
                   placeholder="username"
                   type="text"
                   class="form-control"
                   required/>

            <span class="alert-class"
             ng-show="model.myform.username.$invalid">{{model.alert}}
            </span>

            <p></p>

            <input ng-model="firstName"
                   placeholder="firstName"
                   name="firstName"
                   type="text"
                   class="form-control"
                   required/>
            <span class="alert-class"
            ng-show="model.myform.firstName.$invalid">{{model.alert}}
            </span>

            <p></p>

            <input ng-model="lastName"
                   placeholder="lastName"
                   name="lastName"
                   type="text"
                   class="form-control"
                   required/>

            <p></p>
            <span class="alert-class"
            ng-show="model.myform.lastName.$invalid">{{model.alert}}
            </span>

            <input ng-model="password"
                   placeholder="password"
                   name="password"
                   type="password"
                   class="form-control"
                   required/>
            <span class="alert-class"
             ng-show="model.myform.password.$invalid">{{model.alert}}
            </span>
            <p></p>


            <input ng-model="vpassword"
                   name="vpassword"
                   placeholder="verify password"
                   type="password"
                   class="form-control"
                   required/>
            <span class="alert-class"
            ng-show="model.myform.vpassword.$invalid">{{model.alert}}
            </span>

            <p></p>

            <input ng-model="email"
                   placeholder="email"
                   name="email"
                   type="email"
                   class="form-control"
                   required/>

            <span class="alert-class"
                  ng-show="model.myform.email.$invalid">{{model.alert}}
            </span>

            <p> </p>
            <button class="btn btn-primary btn-block"
                    ng-click="model.register(username, password, vpassword, firstName, lastName, email)"
                    type="submit">Register</button>

        </form>

        <p></p>


        <a class="btn btn-danger btn-block"
           href="#/login">Cancel</a>


</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/login">
                <span>Login</span>
            </a>
        </p>
        <p class="navbar-text pull-left">

            <span>Already registered? Please </span>
            </a>
        </p>

    </div>
</nav>


